.card {
    background-color: white;
    width: 25%;
    border-radius: 10px;

    .principal__imagem {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .descricao {
        text-align: center;
        margin: 1rem auto;

        .titulo {
            margin: .5rem 0;
            font-weight: 900;
            font-size: 1.3rem;
        }

        .paragrafo {
            width: 80%;
            margin: auto;
        }
    }

    .plano {
        width: 80%;
        margin: auto;
        background-color: var(--terciary-color);
        padding: 1rem;
        border-radius: 10px;
        font-size: 14px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;

        .imagem {
            border-radius: 100%;
        }

        .container { 
            margin-left: 10%;

            .nome {
                display: block;
            }
        }

        .link {
            color: var(--secondary-color);
            font-weight: 700;

            &:hover {
                color: var(--quaternary-color);
            }
        }
    }

    .botoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1.5rem;

        .continuar {
            color: var(--terciary-color);
            width: 80%;
            background-color: var(--secondary-color);
            padding: 1rem 0;
            border-radius: 10px;
            border: none;
            margin-bottom: 1rem;
            cursor: pointer;
            font-weight: 700;
            font-size: 12px;

            &:hover {
                background-color: var(--quaternary-color);
            }
        }

        .cancelar {
            background: none;
            border: none;
            font-weight: 700;
            color: var(--quaternary-color);
            cursor: pointer;
            margin-bottom: 2rem;

            &:hover {
                color: var(--quinary-color);
            }
        }
    }
}